<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Smart English Official</title>
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/navbar-footer-settings.css" />
  <link rel="icon" href="img/Group 5.png" type="image/png" />
</head>
<body>
  <header>
    <nav>
      <div class="navbar-brand">
        <h3 class="logo-setting">
          smart english <br />
          official.
        </h3>
      </div>

      <ul class="linksToPages">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/courses">Courses</a></li>
      </ul>

      <div class="controls">
        <div class="changeLanguage">
          <h3 onclick="myFunction()" class="dropbtn">Eng</h3>

          <img
          id="direction"
          class="dropbtn"
          src="img/controlsPart.svg"
          alt=""
          onclick="myFunction()"
          />
          <ul id="drop-down" class="drop-down-menu">
            <li><a href="#">Uzb</a></li>
          </ul>
        </div>
        <div class="burger" onclick="name()">
          <div class="burger line line1"></div>
          <div class="burger line line2"></div>
          <div class="burger line line3"></div>
          <div id="main-menu-content" class="main-menu">
            <ul>
              <li><a href="/">Home</a></li>
              <hr style="width: 100%" />
              <li><a href="/about">About</a></li>
              <hr style="width: 100%" />
              <li><a href="/courses">Courses</a></li>
              <hr style="width: 100%" />
              <li><a href="#">Ta'lim & ish</a></li>
              <hr style="width: 100%" />
              <li><a href="/vacancies">Vakansiya</a></li>
              <hr style="width: 100%" />
              <li><a href="/news">News</a></li>
              <hr style="width: 100%" />
              <li><a href="/contact">Bog'lanish</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="attractiveAds">
      <h1>the smartest way to learn english</h1>
      <p style="text-align: center">
        The Smart English Official Academy is a model school capable of
        transforming the surrounding <br />
        classrooms into a ubiquitous one.
      </p>
    </div>
  </header>

  <div class="container">
    <div class="about-part">
      <h1 class="font-for-titles">About Us</h1>
      <div class="description">
        <p class="font-for-description">
          <%=about%>
        </p>

        <a href="/about"
        >Learn more <img src="img/Vector.svg" alt="Vector"
        /></a>
      </div>
    </div>

    <div class="courses">
      <h1 class="font-for-titles">Our Courses</h1>

      <div class="typesOfCourses">
        <%for(let i of courses){%>
        <% let index = courses.indexOf(i) % 2 %> 
        <div class=" <%=index ? 'adults' : 'teenagers'%>">
          <h1 class="font-for-titles"><%=i.title%></h1>
          <p class="font-for-description">
            <%=i.message%>
          </p>

          <a class="setting-for-links" href="/courses"
          >Learn more
          <img class="settings-for-link-img" src="img/Vector.svg" alt=""
          /></a>
        </div>
        <%}%>
      </div>
    </div>

    <div class="news">
      <h1 class="font-for-titles">News</h1>
      <% if(news) {%> 
        <div class="description">
          <h3>
           <%= news.title %> 
          </h3>
          <p class="font-for-description">
            <%= news.message %> 
          </p>
        </div>
      <% }%> 
    </div>

    <div class="statistics">
      <h1 class="font-for-titles">Statistics</h1>
      <div class="data">
        <%for(let i of statistic){%>
          <% let index = statistic.indexOf(i) % 2 %> 
        <div class="part">
          <%if(index == 1){%>
          <div class="numbers">
            <h1 class="font-for-titles"><%=i.number%></h1>
            <p class="fonts-for-data"><%=i.title%></p>
          </div>
          <%}%>
          </div>
          <div class="part">
            <%if(index == 0){%>
            <div class="numbers">
              <h1 class="font-for-titles"><%=i.number%></h1>
              <p class="fonts-for-data">
                <%=i.title%>
              </p>
            </div>
            <%}%>
          </div>
          <%}%>
        </div>
      </div>

      <div class="contact">
        <h1 class="font-for-titles">Contact</h1>
        <div class="place">
          <div class="branch-address">
            <h5 class="font-for-location">
              Our main branch <br style="display: block" />
              address
            </h5>
            <p class="font-for-description">
              Andijan viloyati, Marhamat <br />
              tumani Ipak yo’li 76-uy
            </p>
          </div>

          <div class="branch-address">
            <h5 class="font-for-location">
              The address of our branch in Yangi Bazar
            </h5>
            <p class="font-for-description">
              Andijan shahar, Yangi bozor daxasi, <br />
              Buyuk turon koʻchasi 28-uy <br />
              (moʻljal: Mumtoz savdo markazi <br />
              orqa tomonida)
            </p>
          </div>

          <div class="branch-address">
            <h5 class="font-for-location">Telephone numbers</h5>
            <p class="font-for-description" style="line-height: 25px">
              +998 99 432 18 16 <br />
              +998 99 432 18 16
            </p>
          </div>

          <div class="branch-address">
            <h5 class="font-for-location">Social media</h5>
            <a href="#">YouTube</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">Facebook</a> <br />
            <div class="second-line">
              <a href="#">Instagram</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#">Telegram</a>
            </div>
          </div>
        </div>
      </div>
      <img
      class="background-effect background-img"
      src="img/Group 136.svg"
      alt=""
      />
      <img
      class="background-effect background-img1"
      src="img/Group 137.svg"
      alt=""
      />
      <img
      class="background-effect background-img2"
      src="img/Group 138.svg"
      alt=""
      />
    </div>

    <footer>
      <div class="footer container1">
        <div class="logoPart">
          <h3 class="logo-setting">
            Smart English <br />
            Official.
          </h3>

          <p style="white-space: nowrap">
            © 2017 - 2021 SMART ENGLISH EDUCATION CENTRE
          </p>
        </div>
        <div class="pages">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/study">Study & work</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="location">
          <h4>
            <span>Andijan viloyati, Marhamat tumani</span> <br />
            Ipak yo’li 76-uy
          </h4>

          <a href="+998994721816">+998 99 472 18 16 </a>

          <a href="+998994721816">+998 99 472 18 16 </a>
        </div>
        <div class="socialSites">
          <ul>
            <li>
              <a href="https//kun.uz">Instagram</a>
            </li>
            <li>
              <a href="#">Telegram</a>
            </li>
            <li>
              <a href="#">YouTube</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
  </html>
